export GREENLIGHT_DB_DSN_MIG='postgres://greenlight:pa55word@192.168.1.15/greenlight?sslmode=disable'
export GREENLIGHT_DB_DSN='host=192.168.1.15 user=greenlight password=pa55word dbname=greenlight port=5432 sslmode=disable'
export KEYCLOAK_ADMIN=newadmin
export KEYCLOAK_ADMIN_PASSWORD=Admin123
export KEYCLOAK_AUTHURL="http://$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' keycloak):8080"
export KEYCLOAK_REALM='my-go-api'
export KEYCLOAK_CLIENT_ID='go-gin-api'
export KEYCLOAK_CLIENT_SECRET='ZmoXYhf7r9nrSB2NVnniOZRlZ8e11HyL'
export KEYCLOAK_ISSUER_URL="http://$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' keycloak):8080/realms/my-go-api"
export KEYCLOAK_JWKS_URL="http://$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' keycloak):8080/realms/my-go-api/protocol/openid-connect/certs"
export REQ_PER_SECOND=2
export BURST=4
export API_PORT=20000
